<section class="signIn">
  <form action="" name="signin" method="post" class="signIn--form">
    <label for="login">Логин</label>
    <input type="text" name="username" id="login" class="form--login-input" placeholder="Введите ваш логин" required="true">
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" class="form--password-input" placeholder="Введите ваш пароль" required="true">
    
    <input type="submit" value="Войти">
  </form>

  <div class="signin--success">
    Авторизация прошла успешно!
  </div>

  <div class="signin--failure">
    Указан неверный логин или пароль.
  </div>
</section>